## Base16 vice
# Author: Thomas Leon Highbaugh thighbaugh@zoho.com
#
# You can use these variables anywhere in the mako configuration file.

background-color=#17191E
text-color=#8b9cbe
border-color=#00eaff

[urgency=low]
background-color=#17191E
text-color=#f0ffaa
border-color=#00eaff

[urgency=high]
background-color=#17191E
text-color=#fec5f3
border-color=#00eaff
