$base00: #17161b;
$base01: #2d2f3d;
$base02: #3c3f4c;
$base03: #807f8d;
$base04: #030207;
$base05: #e9e9ff;
$base06: #e9e9ff;
$base07: #e5e5e9;
$base08: #ff9cff;
$base09: #fdd835;
$base0A: #f0ee6e;
$base0B: #2ac8b4;
$base0C: #6fffff;
$base0D: #1e88e5;
$base0E: #796af5;
$base0F: #eaa686;

$base00-background: #17161b;
$base01-background: #2d2f3d;
$base02-background: #3c3f4c;
$base03-background: #807f8d;
$base04-background: #030207;
$base05-background: #e9e9ff;
$base06-background: #e9e9ff;
$base07-background: #e5e5e9;
$base08-background: #ff9cff;
$base09-background: #fdd835;
$base0A-background: #f0ee6e;
$base0B-background: #2ac8b4;
$base0C-background: #6fffff;
$base0D-background: #1e88e5;
$base0E-background: #796af5;
$base0F-background: #eaa686;
