
$base00: #17161b;
$base01: #2d2f3d;
$base02: #3C3F4C;
$base03: #807f8d;
$base04: #030207;
$base05: #e9e9ff;
$base06: #e9e9ff;
$base07: #edeeff;
$base08: #ff9cff;
$base09: #f9f871;
$base0A: #f0ee6e;
$base0B: #00b6b2;
$base0C: #6FFFFF;
$base0D: #61aeee;
$base0E: #796af5;
$base0F: #e8b6a4;

