.base00 { color: #17191E; }
.base01 { color: #17191E; }
.base02 { color: #555e70; }
.base03 { color: #515a6e; }
.base04 { color: #2b2d32; }
.base05 { color: #8b9cbe; }
.base06 { color: #8b9cbe; }
.base07 { color: #f4f4f7; }
.base08 { color: #ff3d81; }
.base09 { color: #f0ffaa; }
.base0A { color: #f9f871; }
.base0B { color: #00ffcc; }
.base0C { color: #00fae9; }
.base0D { color: #00caff; }
.base0E { color: #6C71C4; }
.base0F { color: #e38a81; }

.base00-background { background-color: #17191E; }
.base01-background { background-color: #17191E; }
.base02-background { background-color: #555e70; }
.base03-background { background-color: #515a6e; }
.base04-background { background-color: #2b2d32; }
.base05-background { background-color: #8b9cbe; }
.base06-background { background-color: #8b9cbe; }
.base07-background { background-color: #f4f4f7; }
.base08-background { background-color: #ff3d81; }
.base09-background { background-color: #f0ffaa; }
.base0A-background { background-color: #f9f871; }
.base0B-background { background-color: #00ffcc; }
.base0C-background { background-color: #00fae9; }
.base0D-background { background-color: #00caff; }
.base0E-background { background-color: #6C71C4; }
.base0F-background { background-color: #e38a81; }



