/* vice by Thomas Leon Highbaugh thighbaugh@zoho.com */

.base00-bg {
  background-color: #17191e;
}
.base01-bg {
  background-color: #22262d;
}
.base02-bg {
  background-color: #3c3f4c;
}
.base03-bg {
  background-color: #383a47;
}
.base04-bg {
  background-color: #555e70;
}
.base05-bg {
  background-color: #8b9cbe;
}
.base06-bg {
  background-color: #b2bfd9;
}
.base07-bg {
  background-color: #f4f4f7;
}
.base08-bg {
  background-color: #ff87d7;
}
.base09-bg {
  background-color: #85ffe0;
}
.base0A-bg {
  background-color: #f0ffaa;
}
.base0B-bg {
  background-color: #0badff;
}
.base0C-bg {
  background-color: #8265ff;
}
.base0D-bg {
  background-color: #00eaff;
}
.base0E-bg {
  background-color: #00f6d9;
}
.base0F-bg {
  background-color: #ff3d81;
}

.base00 {
  color: #17191e;
}
.base01 {
  color: #22262d;
}
.base02 {
  color: #3c3f4c;
}
.base03 {
  color: #383a47;
}
.base04 {
  color: #555e70;
}
.base05 {
  color: #8b9cbe;
}
.base06 {
  color: #b2bfd9;
}
.base07 {
  color: #f4f4f7;
}
.base08 {
  color: #ff87d7;
}
.base09 {
  color: #85ffe0;
}
.base0A {
  color: #f0ffaa;
}
.base0B {
  color: #0badff;
}
.base0C {
  color: #8265ff;
}
.base0D {
  color: #00eaff;
}
.base0E {
  color: #00f6d9;
}
.base0F {
  color: #ff3d81;
}
