.base00 {
  color: #17191e;
}
.base01 {
  color: #22262d;
}
.base02 {
  color: #3c3f4c;
}
.base03 {
  color: #383a47;
}
.base04 {
  color: #555e70;
}
.base05 {
  color: #8b9cbe;
}
.base06 {
  color: #b2bfd9;
}
.base07 {
  color: #f4f4f7;
}
.base08 {
  color: #ff87d7;
}
.base09 {
  color: #85ffe0;
}
.base0A {
  color: #f0ffaa;
}
.base0B {
  color: #0badff;
}
.base0C {
  color: #8265ff;
}
.base0D {
  color: #00eaff;
}
.base0E {
  color: #00f6d9;
}
.base0F {
  color: #ff3d81;
}

.base00-background {
  background-color: #17191e;
}
.base01-background {
  background-color: #22262d;
}
.base02-background {
  background-color: #3c3f4c;
}
.base03-background {
  background-color: #383a47;
}
.base04-background {
  background-color: #555e70;
}
.base05-background {
  background-color: #8b9cbe;
}
.base06-background {
  background-color: #b2bfd9;
}
.base07-background {
  background-color: #f4f4f7;
}
.base08-background {
  background-color: #ff87d7;
}
.base09-background {
  background-color: #85ffe0;
}
.base0A-background {
  background-color: #f0ffaa;
}
.base0B-background {
  background-color: #0badff;
}
.base0C-background {
  background-color: #8265ff;
}
.base0D-background {
  background-color: #00eaff;
}
.base0E-background {
  background-color: #00f6d9;
}
.base0F-background {
  background-color: #ff3d81;
}
