# Base16 vice
# Author: Thomas Leon Highbaugh thighbaugh@zoho.com

[global_config]
  title_transmit_fg_color = "#8b9cbe"
  title_transmit_bg_color = "#17191E"
  title_inactive_fg_color = "#8b9cbe"
  title_inactive_bg_color = "#383a47"

[profiles]
  [[default]]
    use_theme_colors = False
    background_color = "#17191E"
    foreground_color = "#8b9cbe"
    cursor_color = "#8b9cbe"
    palette = "#17191E:#fec5f3:#0badff:#f0ffaa:#00eaff:#00f6d9:#8265ff:#8b9cbe:#383a47:#85ffe0:#22262d:#3c3f4c:#555e70:#B2BFD9:#ff3d81:#f4f4f7"
